#tribe-events-content{
	margin-bottom:0;
}
.time-details{
	list-style:none;
	padding-left:0;
	li{
		span{
			font-weight:800;
		}
		span, p{
			display:inline;
		}
	}
}
.tribe-events-event-meta:first-child{
	border:none;
}
.row.event-details-row{
	margin-top: 2rem;
}
h3.single-event-title,h3.single-event-date{
	display:inline;
	margin-right: 1rem;
}
.single-event-date{
	font-size: 1.7rem;
  	line-height: 2.1rem;
}
.all-events{
	position:absolute;
	bottom:0;
	right:0;
}
.address-detais{
	span{
		display:inline;
	}
}
.location{
	margin:0;
}
address{
	font-style:normal;
}
.tribe-events-gmap{
	position:absolute;
	right:0;
}
.map-block{
	margin-top: 1.75rem;
}
.tribe-events-gcal, .tribe-events-ical{
	@extend .red-button;
	margin-right: .5rem;
}
#tribe-events-content .tribe-events-calendar div[id*=tribe-events-event-] h3.entry-title{
	padding: .5rem;
	font-size: 1.4rem;
}
// .tribe-events-has-events{
// 	background:rgba($red, .15);
// }
#tribe-events-content .tribe-events-calendar td, #tribe-events-content table.tribe-events-calendar{
	border:none;
	border-top: 1px solid rgba(gray, .5);
}