html{
	a.red-button{
		background: $red;
		padding: .5rem 1rem;
	  	color: white;
	  	border-radius: 3px;
	  	&:hover{
	  		background: $light-red;
	  	}
	  	&.full-width{
	  		display:block;
	  		width:100%;
	  		text-align:center;
	  	}
	}
}
.bold{
	font-weight:bold;
}