html{
	.red-button{
		border:none;
		background: $red;
		padding: .5rem 1rem;
	  	color: white!important;
	  	border-radius: 3px;
	  	&:hover{
	  		background: $light-red;
	  	}
	  	&.full-width{
	  		display:block;
	  		width:100%;
	  		text-align:center;
	  	}
	}
	.blue-button{
		@extend .red-button;
		background: $blue;
	}
}
.bold{
	font-weight:bold;
}
.overflow-hidden{
	overflow:hidden;
}
.open-mobile-menu{
	@include onScreen;
}
.message{
	@extend p;
	text-align:center;
	border: 2px solid rgba($dark-gray, 0.21);
    border-radius: 3px;
    padding: .5rem;
    margin-bottom: 1.5rem;
}
.no-display{
	display:none;
}