html{
	.red-button{
		border:none;
		background: $red;
		padding: .5rem 1rem;
	  	color: white!important;
	  	border-radius: 3px;
	  	&:hover{
	  		background: $light-red;
	  	}
	  	&.full-width{
	  		display:block;
	  		width:100%;
	  		text-align:center;
	  	}
	}
	.blue-button{
		@extend .red-button;
		background: $blue;
	}
}
.bold{
	font-weight:bold;
}
.overflow-hidden{
	overflow:hidden;
}