.page-container{
	.row{
		margin:0;
	}
	.horizontal-line-holder{
		text-align:center;
		margin-bottom: 1rem;
	}
}
.page-title{
	text-align:center;
	margin: 0 0 0 0;
}
.page-content{
  	padding: 2rem 3rem;
	background: white;
	img{
		margin: 2rem;
	}
	h1,h2,h3,h4,h5,h6{
		margin:0;
	}
	a{
		color: $red;
	}
	p{
		margin-top:0;
	}
	ul{
		li{
			@extend p;
		}
	}
	strong{
		font-family: inherit;
	}
}
.sidebar-content{
	.horizontal-line-holder:before{
		height: 1px;
	}
}
.horizontal-line-holder{
	h3{
		background: white;
		display: inline;
		padding: 2rem;
		z-index: 5;
		position: relative;
	}
}
.board-members-list{
	padding:0;
	li{
		display:inline-block;
		width: 33.33%;
		float:left;
		text-align:center;
	}
}
.board-member-list-item{
	padding: 1rem;
	h4, span, a{
		text-transform:none;
		display:block;
		clear:both;
	}
}
.openings-list{
	padding-left:20px;
	li{
		@extend %average;
		font-size: 1.5rem;
	}
}
.row.donate-options{
	text-align:center;
	max-width: 800px;
    margin: 25px auto 0 auto;
	svg{
		width: 75%;
		display:block;
		margin:0 auto;
	}
	h3{
		color: $red;
		text-transform:none;
		margin-bottom: 20px;
	}
}
.donate-button{
	font-size: 2rem;
    text-transform: uppercase;
}
.donate-action{
	margin-top: 20px;
}
.donation-address{
	@extend %fjalla;
	font-weight:bold;
	color:$red;
	padding: .5rem 1rem;
	font-size: 2rem;
	border: 2px solid $red;
	border-radius: 3px;
	display:inline-block;
	padding-top: 0.75rem !important;
	text-transform: uppercase;
}
.get-involved-contact-button{
	display: inline-block;
	margin:0 auto;
}
.sml_subscribe{
	.sml_name{
		margin-bottom: 15px;
	}
}
.sml_thankyou{
	background: $blue;
	color: white;
	border-radius: 3px;
	display:block;
	width:100%;
	text-align:center;
	padding: 8px 5px;
}
.signup-description{
	margin-bottom: 15px;
    display: block;
}
/* contact styles */
.contact-table{
	margin-bottom: 2rem;
	td{
		position:relative;
		i{
			font-size: 3rem;
			position: absolute;
    		top: 0;
		}
		span{
			@extend h4;
			@extend %fjalla;
			a{
				@extend %fjalla;
				font-size:2rem;
			}
		}
		&:first-child{
			width: 4.5rem;
		}
	}
	tr{
		&:nth-child(2){
			td{
			}
		}
	}
	.fa-envelope{
	    font-size: 2.5rem;
	}
}
.form-row{
	background:white;
}
.form-content{
    padding: 2rem 3rem;
}
form{
	input,textarea{
		margin-bottom: 1.5rem;
		width:100%;
		&[type="submit"]{
			text-transform: uppercase;
		}
		box-shadow: 0 0 1px 0 rgba(black,.5);
	}
	label{
		text-transform: uppercase;
		font-weight:normal;
	    font-size: 2rem;
	    span{
	    	color:$red;
	    }
	}
}
#form-messages{
	text-align:center;
	border-radius: 3px;
	color: white;
	font-size: 1.5rem;
    &.error{
    	padding: .5rem;
    	background: $red;
    	margin-bottom: 1.5rem;
    }
    &.success{
    	@extend .error;
    	background:$green;
    }
}
/* wordpress styles */
.alignleft{
	float:left;
}
.alignright{
	float:right;
}
