.page-container{
	.row{
		margin:0;
	}
	.horizontal-line-holder{
		text-align:center;
		margin-bottom: 1rem;
	}
}
.page-title{
	text-align:center;
	margin: 0 0 0 0;
}
.page-content{
  	padding: 2rem 3rem;
	background: white;
	img{
		margin: 2rem;
	}
	h1,h2,h3,h4,h5,h6{
		margin:0;
	}
	a{
		color: $red;
	}
	p{
		margin-top:0;
	}
}
.horizontal-line-holder{
	h3{
		background: white;
		display: inline;
		padding: 2rem;
		z-index: 5;
		position: relative;
	}
}
.board-members-list{
	padding:0;
	li{
		display:inline-block;
		width: 33.33%;
		float:left;
		text-align:center;
	}
}
.board-member-list-item{
	padding: 1rem;
	h4, span, a{
		text-transform:none;
		display:block;
		clear:both;
	}
}
.openings-list{
	padding-left:20px;
	li{
		@extend %average;
		font-size: 1.5rem;
	}
}
.row.donate-options{
	text-align:center;
	max-width: 800px;
    margin: 25px auto 0 auto;
	svg{
		width: 75%;
		display:block;
		margin:0 auto;
	}
	h3{
		color: $blue;
		text-transform:none;
		margin-bottom: 20px;
	}
}
.donate-button{
	font-size: 2rem;
    text-transform: uppercase;
    padding-top: .75rem!important;
}
.donate-action{
	margin-top: 20px;
}
.donation-address{
	font-weight:bold;
}
.get-involved-contact-button{
	display: inline-block;
	margin:0 auto;
}
/* wordpress styles */
.alignleft{
	float:left;
}
.alignright{
	float:right;
}
